    body
    {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
    }

    *
    {
        box-sizing: border-box;
    }

    .calculator
    {
        width: 280px;
        height: 400px;
        padding: 15px;
        border-radius: 12px;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    }

    .display input
    {
        font-size: 40px;
        width: 100%;
        height: 60px;
        padding: 10px;
        text-align: right;
        border-radius: 10px;
        box-sizing: border-box;
    }

    .buttons-grid
    {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        margin-top: 10px;
    }

    .calculator button
    {
        width: 100%;
        padding: 15px;
        font-size: 18px;
        cursor: pointer;
        border-radius: 4px;
        border: 1px solid #ccc;
        background-color: #f0f0f0;
        transition: all 0.2s ease;
    }

    .calculator button:hover
    {
        filter: brightness(0.9);
        transform: scale(1.05);
    }

    .calculator .op
    {
        background-color: rgb(190, 184, 184);
    }

    .wide-btn
    {
        grid-column: span 3;
    }

    .calculator button[data-op = "="]
    {
        background-color: rgb(49, 169, 13);
        color: white;
        font-weight: bold;
    }

    .calculator button[data-op = "C"]
    {
        background-color: rgb(203, 45, 10);
        color: white;
        font-weight: bold;
    }

    .calculator #backspace
    {
        background-color: rgb(8, 78, 134);
        color: white;
    }

    .calculator #decimal
    {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 32px;
        font-weight: bold;
        padding: 0;
        line-height: 0;
    }   